{% extends 'base.html.twig' %}

{% block body %}

{% include 'about/breadcrumb/index.html.twig' %}

<section class="about-us section">
    <div class="container">
        <div class="row align-items-center justify-content-center">
            <div class="col-lg-6 col-md-12 col-12">
                <div class="content-left wow fadeInLeft" data-wow-delay=".3s">
                    {# <img src="{{ asset('build/images/about/choose-left.jpg') }}"> #}
                    <img src="{{ asset('static/about1.jpg') | imagine_filter('about_image')}}">
                </div>
            </div>
            <div class="col-lg-6 col-md-12 col-12">

                <div class="content-right wow fadeInRight" data-wow-delay=".5s">

                    <span class="sub-heading">A propos</span>
                    <h2>
                        A propos de Haya
                    </h2>
                    <p>
                        Si vous recherchez une maison, un appartement, une villa, un terrain… en vente ou en location au Niger, vous êtes au bon endroit.
                    </p>
                    <p class="mt-2">
                        Bienvenue sur le portail des annonces immobilières au Niger. <br>
                    </p>
                    <p class="mt-2">
                        Haya est une plateforme spécialisée dans la location, l'achat et la vente des biens immobiliers au Niger. <br>
                    </p>
                    <h3>Notre Mission</h3>
                    <p class="mb-2">
                        1.  Fournir de cadre idéal pour la publication en ligne de vos annonces
                    </p>

                    <p class="mb-2">
                        2.  Mettre en relation les futures locataires/acquéreurs et les bailleurs
                    </p>

                </div>
            </div>
        </div>
    </div>
</section>


<section class="our-achievement section">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-12">
                <div class="single-achievement wow fadeInUp" data-wow-delay=".2s">
                    <h3 class="counter">{{ envente | length }}</h3>
                    <p>Biens en vente</p>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-12">
                <div class="single-achievement wow fadeInUp" data-wow-delay=".4s">
                    <h3 class="counter">{{ enlocation | length }}</h3>
                    <p>Biens en location</p>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="how-works section">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section-title">
                    <h2 class="wow fadeInUp" data-wow-delay=".4s">Comment ça marche</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-4 col-12">

                <div class="single-work wow fadeInUp" data-wow-delay=".2s">
                    <span class="serial">01</span>
                    <h3>Propriétaires</h3>
                    <p>Si vous souhaitez vendre ou mettre en location un logement, contacter nous par téléphone, mail, ou reseaux sociaux pour connaitre la procedure à suivre.</p>
                    <div class="link-light mt-4">
                        <a href="{{ path('app_contact') }}" class="btn">Aller à la page des contacts</a>
                    </div>

                </div>

            </div>
            <div class="col-lg-4 col-md-4 col-12">

                <div class="single-work wow fadeInUp" data-wow-delay=".4s">
                    <span class="serial">02</span>
                    <h3>Locataires</h3>
                    <p>
                        Nous mettons à votre disposition un catalogue de biens immobiliers pour la location et la vente. Faites une recherche et filtrer le resultat en fonction de vos critères.
                    </p>
                    <div class="link-light mt-4">
                        <a href="{{ path('app_annonces') }}" class="btn">Voir notre catalogue</a>
                    </div>
                </div>

            </div>
            <div class="col-lg-4 col-md-4 col-12">

                <div class="single-work wow fadeInUp" data-wow-delay=".6s">
                    <span class="serial">03</span>
                    <h3>Informations</h3>
                    <p>
                        Pour de plus amples informations, veuillez nous contacter, par téléphone, mail, whatsapp... 
                        sur les réseaux sociaux Facebook et Twitter. Nous sommes à votre disposition.
                    </p>
                    <div class="link-light mt-4">
                        <a href="{{ path('app_contact') }}" class="btn">Aller à la page des contacts</a>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>

{% endblock %}