{{ form_start(form, {attr: {class: 'filter js-filter-form'}}) }}

    {{ form_row(form.q, {attr: {'class': 'form-control-lg border-0 shadow-none'}}) }}

    {{ form_row(form.quarter, {attr: {'class': 'border-0 shadow-none form-control-lg selectpicker' }}) }}

    {{ form_row(form.type, {attr: {'class': 'border-0 shadow-none form-control-lg selectpicker' }}) }}

    <hr>
{#     {{ form_row(form.min) }}
    
    {{ form_row(form.max) }} #}

    <h4 class="card-title fs-16 lh-2 text-dark">Categories</h4>
    {{ form_row(form.categories) }}

    <button style="submit" class="btn btn-indigo w-100">Rechercher</button>
{{ form_end(form) }}