{% extends 'frontend/base.html.twig' %}

{% block title 'Signup' %}

{% block body %}
    {% for flashError in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}

    <h1 class="h3 mb-3 font-weight-normal text-center mt-4">Register</h1>

    <div class="row">
        <div class="col-md-6 m-auto">
        {{ form_start(registrationForm) }}
            <div class="row">
                <div class="col-md-6 ">
                 {{ form_row(registrationForm.firstname) }}
                </div>
                <div class="col-md-6 ">
                 {{ form_row(registrationForm.lastname) }}
                </div>
            </div>
            {{ form_row(registrationForm.avatar) }}

            {{ form_row(registrationForm.email) }}

            {{ form_row(registrationForm.plainPassword, {
                label: 'Password'
            }) }}

            {{ form_row(registrationForm.agreeTerms, {
                attr: {
                'class': 'ml-1'
                },
                label: 'Acceptez-vous les termes ?'
            }) }}
            <button type="submit" class="btn btn-primary btn-lg btn-block">Register</button>
        {{ form_end(registrationForm) }}
        </div>
    </div>
{% endblock %}
