<section class="bg-gray-02 pt-9 pb-9 pb-lg-11">
    <div class="container">
        <h2 class="text-center text-dark line-height-base">
            Les dernières annonces pour la location
        </h2>
        <span class="heading-divider mx-auto mb-7" style="background-color: ##6969eb !important;"></span>
        <div class="slick-slider custom-arrow-spacing-30" data-slick-options='{"slidesToShow": 3, "autoplay":true,"dots":true,"responsive":[{"breakpoint": 1200,"settings": {"slidesToShow":3,"arrows":false}},{"breakpoint": 992,"settings": {"slidesToShow": 2,"arrows":false,"autoplay":true}},{"breakpoint": 768,"settings": {"slidesToShow": 1,"autoplay":true,"arrows":false}}]}'>
            {% for property in latest_rent %}
            <div class="box">
                <div class="card" data-animate="fadeInUp">
                    <div class="hover-change-image bg-hover-overlay rounded-lg card-img-top">
                        <img src="{{ vich_uploader_asset(property) | imagine_filter('my_home_card') }}" alt="{{property.title}}">
                        <div class="card-img-overlay p-2 d-flex flex-column">
                            <div class="mt-auto d-flex hover-image">
                                <ul class="list-inline mb-0 d-flex align-items-end mr-auto">
                                    <li class="list-inline-item mr-2" data-toggle="tooltip" title="9 Images">
                                        <a href="#" class="text-white hover-primary">
                                            <i class="far fa-images"></i><span class="pl-1">9</span>
                                        </a>
                                    </li>
                                    <li class="list-inline-item" data-toggle="tooltip" title="2 Video">
                                        <a href="#" class="text-white hover-primary">
                                            <i class="far fa-play-circle"></i><span class="pl-1">2</span>
                                        </a>
                                    </li>
                                </ul>
                                <ul class="list-inline mb-0 d-flex align-items-end mr-n3">
                                    <li class="list-inline-item mr-3 h-32" data-toggle="tooltip" title="Wishlist">
                                        <a href="#" class="text-white fs-20 hover-primary">
                                            <i class="far fa-heart"></i>
                                        </a>
                                    </li>
                                    <li class="list-inline-item mr-3 h-32" data-toggle="tooltip" title="Compare">
                                        <a href="#" class="text-white fs-20 hover-primary">
                                            <i class="fas fa-exchange-alt"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="card-header bg-transparent d-flex justify-content-between align-items-center py-3">
                        <p class="fs-17 font-weight-bold text-heading mb-0 lh-1">{{property.price | number_format(0, ',', '.')}} Fcfa</p>
                        <span class="badge badge-indigo">{{property.type}}</span>
                    </div>
                    <div class="card-body py-2">
                        <h2 class="fs-16 lh-2 mb-0">
                            <a href="single-property-1.html" class="text-dark hover-primary">{{property.title}}</a>
                        </h2>
                        <p class="font-weight-500 text-gray-light mb-0">{{property.quarter}}</p>
                    </div>
                    <div class="card-footer bg-transparent pt-3 pb-4">
                        <ul class="list-inline d-flex justify-content-between mb-0 flex-wrap">
                            <li class="list-inline-item text-gray font-weight-500 fs-13 d-flex align-items-center mr-2" data-toggle="tooltip" title="3 Bedroom">
                                <svg class="icon icon-bedroom fs-18 text-primary mr-1">
                                    <use xlink:href="#icon-bedroom"></use>
                                </svg>
                                3 Br
                            </li>
                            <li class="list-inline-item text-gray font-weight-500 fs-13 d-flex align-items-center mr-2" data-toggle="tooltip" title="3 Bathrooms">
                                <svg class="icon icon-shower fs-18 text-primary mr-1">
                                    <use xlink:href="#icon-shower"></use>
                                </svg>
                                4 Ba
                            </li>
                            <li class="list-inline-item text-gray font-weight-500 fs-13 d-flex align-items-center mr-2" data-toggle="tooltip" title="Size">
                                <svg class="icon icon-square fs-18 text-primary mr-1">
                                    <use xlink:href="#icon-square"></use>
                                </svg>
                                2300 Sq.Ft
                            </li>
                            <li class="list-inline-item text-gray font-weight-500 fs-13 d-flex align-items-center mr-2" data-toggle="tooltip" title="1 Garage">
                                <svg class="icon icon-Garage fs-18 text-primary mr-1">
                                    <use xlink:href="#icon-Garage"></use>
                                </svg>
                                1 Gr
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>