<section class="py-11">
	<div class="container">

		<h2 class="text-dark text-center mb-8">
			Nos Dernières Annonces
		</h2>

		<div class="row">
		{% for property in latest_properties %}
		
			<div class="col-lg-4 col-sm-6 mb-6">
				<div class="card shadow-hover-1">
					<a href="{{ path('app_annonce_detail', {id: property.id}) }}">
					<div class="hover-change-image bg-hover-overlay rounded-lg card-img-top">
						<img src="{{ vich_uploader_asset(property) | imagine_filter('my_home_card') }}" alt="{{ property.title }}">
						<div class="card-img-overlay p-2 d-flex flex-column">
							<div>
								<span class="badge mr-2 badge-{% if property.type == 'location'%}indigo{% else %}orange{% endif %}">{{property.type}}</span>
							</div>
						</div>
					</div>
					</a>
					<div class="card-body pt-3">
						<h2 class="card-title fs-16 lh-2 mb-0">
							<a href="{{ path('app_annonce_detail', {id: property.id}) }}" class="text-dark hover-indigo">{{ property.title }}</a>
						</h2>
						<p class="card-text font-weight-500 text-gray-light mb-2"><i class="fal fa-map-marker-alt mr-1"></i>Niamey/{{ property.quarter }}</p>
						<ul class="list-inline d-flex justify-content-start mb-0 flex-wrap mr-n5">
							<li class="list-inline-item text-gray font-weight-500 fs-13 d-flex align-items-center mr-5" data-toggle="tooltip" title="Chambre">
								<svg class="icon icon-bedroom fs-18 text-indigo mr-1"><use xlink:href="#icon-bedroom"></use>
								</svg>{{property.room}} Chambres
							</li>
							<li class="list-inline-item text-gray font-weight-500 fs-13 d-flex align-items-center mr-5" data-toggle="tooltip" title="Surface"><svg class="icon icon-square fs-18 text-indigo mr-1"><use xlink:href="#icon-square"></use></svg>{{property.area}} m²</li>
							
						</ul>
					</div>
					<div class="card-footer bg-transparent d-flex justify-content-between align-items-center py-3">
						<p class="fs-17 font-weight-bold text-heading mb-0">{{property.price | number_format(0, ',', '.')}} Fcfa</p>
						
					</div>
				</div>
			</div>
			{% endfor %}
		</div>
		<div class="text-center">
			<a href="{{ path('app_annonce_all') }}" class="btn btn-lg text-white btn-indigo rounded-lg mt-4">
				Voir toutes les annonces
				<i class="far fa-long-arrow-right ml-1"></i>
			</a>
		</div>
	</div>
</section>
<hr>
