{{ form_start(form) }}
    {{ form_row(form.name, {attr: {'class': 'form-control-lg border-0'}}) }}
    {{ form_row(form.email, {attr: {'class': 'form-control-lg border-0'}}) }}
    {{ form_row(form.phone, {attr: {'class': 'form-control-lg border-0'}}) }}
    {{ form_row(form.address, {attr: {'class': 'form-control-lg border-0'}}) }}
    <button class="btn btn-indigo">{{ button_label|default('Enregistrer') }}</button>
{{ form_end(form) }}
