{% extends 'backend/admin/base.html.twig' %}

{% block body %}


    <div class="wrapper dashboard-wrapper">
        <div class="d-flex flex-wrap flex-xl-nowrap">
            {# Sidebar #}
                {% include 'backend/admin/sidebar.html.twig' %}
            {# EndSidebar #}

            <div class="page-content">
                    
                {# Header #}
                    {% include 'backend/admin/layouts/header.html.twig' %}
                {# EndHeader #}

                <main id="content" class="bg-gray-01">
                    <div class="px-3 px-lg-6 px-xxl-13 py-5 py-lg-10">
                        {# <div class="d-flex flex-wrap flex-md-nowrap mb-6">
                            <div class="mr-0 mr-md-auto">
                            </div>
                            <div>
                                <a href="{{path('app_property_new')}}" class="btn btn-indigo btn-lg">
                                    <span>Ajouter une annonce</span>
                                </a>
                            </div>
                        </div> #}
                        
                            <div class="mb-6">
                                <h2 class="mb-0 text-heading fs-22 lh-15">Ajouter une nouvelle annonce</h2>
                                <p class="mb-1">
                                    Veuillez remplir tous les champs !!!
                                </p>
                            </div>

                        <div class="tab-content shadow-none p-0">

                            {{ form_start(property_create_form) }}
                                <div class="card-body py-4 py-md-0 px-0">
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <div class="card mb-6">
                                                <div class="card-body p-6">
                                                    <h3 class="card-title mb-0 text-heading fs-22 lh-15">
                                                        Property Description
                                                    </h3>
                                                    <p class="card-text mb-5">
                                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit
                                                    </p>

                                                    {{ form_row(property_create_form.title, {attr: {'class': 'form-control-lg border-0'}}) }}

                                                    {{ form_row(property_create_form.content, {attr: {'class': 'form-control-lg border-0', 'rows': '4'}}) }}
                                                </div>
                                            </div>

                                            <div class="card mb-6">
                                                <div class="card-body p-6">
                                                    <div class="form-row mx-n2">
                                                        <div class="col-md-6 col-lg-12 col-xxl-6 px-2 mb-4 mb-md-0">
                                                            {{ form_row(property_create_form.categories, {attr: {'class': 'form-control-lg border-0 selectpicker'}}) }}
                                                        </div>
                                                        <div class="col-md-6 col-lg-12 col-xxl-6 px-2 mb-4 mb-md-0">
                                                            {{ form_row(property_create_form.quarter, {attr: {'class': 'form-control-lg border-0 selectpicker'}}) }}
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="card mb-6">
                                                <div class="card-body p-6">
                                                    <h3 class="card-title mb-0 text-heading fs-22 lh-15">
                                                        Property Galerie
                                                    </h3>
                                                    <p class="card-text mb-5">
                                                        Veuillez uploader les images du bien
                                                    </p>
                                                    {{ form_row(property_create_form.images) }}
                                                    <p>Les photos doivent etre au format JPEG or PNG format and least 1024x768</p>
                                                    
                                                </div>
                                            </div>
                                        </div>

                                        {# Price #}
                                        <div class="col-lg-6">
                                            <div class="card mb-6">
                                                <div class="card-body p-6">
                                                    <h3 class="card-title mb-0 text-heading fs-22 lh-15">
                                                        Autres details
                                                    </h3>
                                                    <div class="form-row mx-n2">
                                                        <div class="col-md-6 col-lg-12 col-xxl-6 px-2">
                                                            {{ form_row(property_create_form.price, {attr: {'class': 'form-control-lg border-0 selectpicker'}}) }}
                                                        </div>
                                                        <div class="col-md-6 col-lg-12 col-xxl-6 px-2">
                                                            {{ form_row(property_create_form.owner, {attr: {'class': 'form-control-lg border-0 selectpicker'}}) }}
                                                        </div>
                                                    </div>
                                                    <div class="form-row mx-n2">
                                                        <div class="col-md-6 col-lg-12 col-xxl-6 px-2">
                                                            {{ form_row(property_create_form.status, {attr: {'class': 'form-control-lg border-0 selectpicker'}}) }}
                                                        </div>
                                                        <div class="col-md-6 col-lg-12 col-xxl-6 px-2">
                                                            {{ form_row(property_create_form.area, {attr: {'class': 'form-control-lg border-0 selectpicker'}}) }}
                                                        </div>
                                                    </div>
                                                    <div class="form-row mx-n2">
                                                        <div class="col-md-6 col-lg-12 col-xxl-6 px-2">
                                                            {{ form_row(property_create_form.room, {attr: {'class': 'form-control-lg border-0 selectpicker'}}) }}
                                                        </div>
                                                        <div class="col-md-6 col-lg-12 col-xxl-6 px-2">
                                                            {{ form_row(property_create_form.imageFile, {attr: {'class': 'form-control-lg'}}) }}
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="card mb-6">
                                                <div class="card-body p-6">
                                                    {{ form_row(property_create_form.type, {attr: {'class': 'form-control-lg border-0 selectpicker'}}) }}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                
                                <button type="submit" class="btn btn-indigo">Enregistrer</button>

                            {{ form_end(property_create_form) }}

                        </div>

                    </div>
                </main>
            </div>
        </div>
    </div>

{% endblock %}