{% extends 'backend/admin/base.html.twig' %}

{% block body %}

    <div class="wrapper dashboard-wrapper">
        <div class="d-flex flex-wrap flex-xl-nowrap">
            {# Sidebar #}
            {% include 'backend/admin/sidebar.html.twig' %}
            {# EndSidebar #}

            <div class="page-content">

                {# Header #}
                {% include 'backend/admin/layouts/header.html.twig' %}
                {# EndHeader #}

                <main id="content">
                    <div class="px-3 px-lg-6 px-xxl-13 py-5 py-lg-10">
                        <div class="d-flex flex-wrap flex-md-nowrap mb-6">
                            <div class="m-auto">
                                <h2>Editer l'annonce</h2>
                            </div>
                        </div>

                        {{ form_start(property_edit_form) }}
                        <div class="row">
                            <div class="col-md-6">
                                {{ form_row(property_edit_form.title, {attr: {'class': 'form-control-lg border-0'}}) }}
                            </div>
                            <div class="col-md-6">
                                {{ form_row(property_edit_form.categories, {attr: {'class': 'form-control-lg border-0 selectpicker'}}) }}
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-3">
                                {{ form_row(property_edit_form.type, {attr: {'class': 'form-control-lg border-0 selectpicker'}}) }}
                            </div>
                            <div class="col-md-2">
                                {{ form_row(property_edit_form.room, {attr: {'class': 'form-control-lg border-0'}}) }}
                            </div>
                            <div class="col-md-2">
                                {{ form_row(property_edit_form.area, {attr: {'class': 'form-control-lg border-0'}}) }}
                            </div>
                            <div class="col-md-2">
                                {{ form_row(property_edit_form.price, {attr: {'class': 'form-control-lg border-0'}}) }}
                            </div>
                            <div class="col-md-3">
                                {{ form_row(property_edit_form.status, {attr: {'class': 'form-control-lg border-0 selectpicker'}}) }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                {{ form_row(property_edit_form.quarter, {attr: {'class': 'form-control-lg border-0 selectpicker'}}) }}
                            </div>
                            <div class="col-md-4">
                                {{ form_row(property_edit_form.owner, {attr: {'class': 'form-control-lg border-0 selectpicker'}}) }}
                            </div>
                            <div class="col-md-4">
                                {{ form_row(property_edit_form.imageFile, {attr: {placeholder: 'Select an image!!!', 'class': 'form-control-lg border-0'}} ) }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                {{ form_row(property_edit_form.content, {attr: {'class': 'form-control-lg border-0'}}) }}
                            </div>
                            <div class="col-md-6">
                                {{ form_row(property_edit_form.images, {attr: {'class': 'form-control-lg border-0'}}) }}
                            </div>
                        </div>
                        <hr>
                        <h3>Galérie</h3>
                        <div class="row">
                            <div class="col-md-6">
                                <ul class="list-group">
                                    {% for image in property.images %}
                                        <li class="list-group-item">
                                            <img src=" {{ asset('/uploads/galerie/' ~ image.url) }} " alt="image.url" width="80" height="80">
                                            {{ image.url }} -
                                            <a href=" {{ path('app_property_galerie', {id: image.id}) }} " data-delete data-token="{{csrf_token('delete' ~ image.id)}}">
                                                Supprimer
                                            </a>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>

                        <button type="submit" class="btn btn-indigo mt-2">Enregistrer les modifications</button>

                        {{ form_end(property_edit_form) }}

                    </div>
                </main>
            </div>
        </div>
    </div>




        

    

{% endblock %}