{% extends 'frontend/base.html.twig' %}

{% block body %}

    <h2 class="mt-4 mb-2 text-center">Edit a property</h2>

    {{ form_start(property_edit_form) }}

    {{ form_row(property_edit_form.title) }}
    {{ form_row(property_edit_form.content) }}
    {{ form_row(property_edit_form.imageFile, {attr: {placeholder: 'Select an image!!!'}} ) }}
    {{ form_row(property_edit_form.categories) }}
    {{ form_row(property_edit_form.quarter) }}
    {{ form_row(property_edit_form.owner) }}

    {% for image in property.images %}
        
        <div class="mb-2">
            <img src=" {{ asset('/uploads/galerie/' ~ image.url) }} " alt="image.url" width="150" height="150">

            {{ image.url }}

            <a href=" {{ path('app_property_galerie', {id: image.id}) }} " data-delete data-token="{{csrf_token('delete' ~ image.id)}}">  
                Supprimer
            </a>

        </div>

    {% endfor %}
    
    <button type="submit" class="btn btn-primary">Save</button>

    {{ form_end(property_edit_form) }}

        

    

{% endblock %}