<section class="dashboard section">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-4 col-12">

                {% include 'admin/partials/menu.html.twig' %}

            </div>
            <div class="col-lg-9 col-md-8 col-12">
                <div class="main-content">

                    <div class="dashboard-block mt-0">
                        <h3 class="block-title">Tous les utilisateurs</h3>

                        <nav class="list-nav">
                            <ul>
                                <li class="active"><a href="#">Les utilisateurs disponibles <span>{{ users | length }}</span></a></li>
                            </ul>
                        </nav>

                        <div class="my-items">

                            <div class="item-list-title">
                                <div class="row align-items-center">
                                    <div class="col-lg-1 col-md-1 col-12">
                                        <p>Id</p>
                                    </div>
                                    <div class="col-lg-2 col-md-2 col-12">
                                        <p>avatar</p>
                                    </div>
                                    
                                    <div class="col-lg-3 col-md-3 col-12">
                                        <p>Name</p>
                                    </div>
                                    <div class="col-lg-4 col-md-4 col-12">
                                        <p>Email</p>
                                    </div>
                                    <div class="col-lg-2 col-md-2 col-12 align-right">
                                        <p>Actions</p>
                                    </div>
                                </div>
                            </div>

                            <div class="single-item-list">
                                {% for user in users %}

                                <div class="row align-items-center bg-light mb-4">
                                    <div class="col-lg-1 col-md-1 col-12">
                                        <p>{{ user.id }}</p>
                                    </div>
                                    <div class="col-lg-2 col-md-2 col-12">
                                        {# <p>{{ user.avatar }}</p> #}
                                        <img src="{{ vich_uploader_asset(user) }}" width="60" height="60"/>
                                    </div>
                                    <div class="col-lg-3 col-md-3 col-12">
                                        <p>{{ user.name }}</p>
                                    </div>
                                    
                                    <div class="col-lg-4 col-md-4 col-12">
                                        <p>{{ user.email }}</p>
                                    </div>
                                    <div class="col-lg-2 col-md-2 col-12 align-right">
                                        <ul class="action-btn">
                                            <li><a href="{{ path('app_user_edit', {id: user.id}) }}"><i class="lni lni-pencil"></i></a></li>
                                            <li><a href="#"><i class="lni lni-trash"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>

                        </div>

                </div>
            </div>
        </div>
    </div>
</section>