<section class="dashboard section">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-4 col-12">

                {% include 'admin/partials/menu.html.twig' %}

            </div>
            <div class="col-lg-9 col-md-8 col-12">
                <div class="main-content">

                    <div class="dashboard-block mt-0">
                        <h3 class="block-title">Modification des infos de l'utilisateur</h3>
                        <div class="inner-block">

                            <div class="post-ad-tab">
                                {{ form_start(form, {attr: {class: 'default-form-style'}}) }}
                                    <div class="row">
                                        <div class="col-md-6">
                                            {{ form_row(form.name) }}
                                        </div>

                                        <div class="col-md-6">
                                            {{ form_row(form.email) }}
                                        </div>
                                        
                                    </div>

                                    <div class="row">
                                        {# <div class="col-md-6">
                                            {{ form_row(form.email) }}
                                        </div> #}
                                        <div class="col-md-6">
                                            {{ form_row(form.avatarFile) }}
                                        </div>

                                        <div class="col-md-6">
                                            <img src="{{ vich_uploader_asset(app.user) }}" width="100" height="100">
                                        </div>
                                        
                                    </div>

                                    <div class="button">
                                        <button type="submit" class="btn">Update User Details</button>
                                    </div>
                                {{ form_end(form) }}
                            </div>

                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>