<section class="dashboard section">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-4 col-12">

                {% include 'admin/partials/menu.html.twig' %}

            </div>
            <div class="col-lg-9 col-md-8 col-12">
                <div class="main-content">

                    <div class="dashboard-block mt-0">
                        <h3 class="block-title">Post Ad</h3>
                        <div class="inner-block">

                            <div class="post-ad-tab">
                                <nav>
                                    <div class="nav nav-tabs" id="nav-tab" role="tablist">
                                        <button class="nav-link active" id="nav-item-info-tab" data-bs-toggle="tab" data-bs-target="#nav-item-info" type="button" role="tab" aria-controls="nav-item-info" aria-selected="true">
                                            <span class="serial">01</span>
                                            Step
                                            <span class="sub-title">Ad Information</span>
                                        </button>
                                        <button class="nav-link" id="nav-item-details-tab" data-bs-toggle="tab" data-bs-target="#nav-item-details" type="button" role="tab" aria-controls="nav-item-details" aria-selected="false">
                                            <span class="serial">02</span>
                                            Step
                                            <span class="sub-title">Ad Details</span>
                                        </button>
                                        <button class="nav-link" id="nav-user-info-tab" data-bs-toggle="tab" data-bs-target="#nav-user-info" type="button" role="tab" aria-controls="nav-user-info" aria-selected="false">
                                            <span class="serial">03</span>
                                            Step
                                            <span class="sub-title">User Information</span>
                                        </button>
                                    </div>
                                </nav>

                                {{ form_start(form, {attr: {class: 'default-form-style'}}) }}
                                <div class="tab-content" id="nav-tabContent">
                                    <div class="tab-pane fade show active" id="nav-item-info" role="tabpanel" aria-labelledby="nav-item-info-tab">

                                        <div class="step-one-content">
                                            <div class="row">
                                                <div class="col-12">
                                                    {{ form_row(form.title) }}
                                                </div>
                                                <div class="col-12">
                                                    {{ form_row(form.categories, {attr: {'class': 'select'}}) }}
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="tab-pane fade" id="nav-item-details" role="tabpanel" aria-labelledby="nav-item-details-tab">

                                        <div class="step-two-content">
                                            <div class="row">
                                                <div class="col-12">
                                                    {{ form_row(form.price) }}
                                                </div>
                                                <div class="col-12">
                                                    {{ form_row(form.type) }}
                                                </div>
                                                <div class="col-lg-6 col-12">
                                                    {{ form_row(form.imageFile) }}
                                                </div>
                                                <div class="col-12">
                                                    {{ form_row(form.content) }}
                                                </div>
                                                <div class="col-lg-6 col-12">
                                                    {{ form_row(form.quarter) }}
                                                </div>
                                                <div class="col-lg-6 col-12">
                                                    {{ form_row(form.owner) }}
                                                </div>

                                            </div>
                                        </div>

                                    </div>
                                    <div class="tab-pane fade" id="nav-user-info" role="tabpanel" aria-labelledby="nav-user-info-tab">

                                        <div class="step-three-content">
                                            <div class="row">
                                                <div class="col-lg-6 col-12">
                                                    {{ form_row(form.area) }}
                                                </div>
                                                <div class="col-lg-6 col-12">
                                                    {{ form_row(form.room) }}
                                                </div>

                                                <div class="col-lg-6 col-12">
                                                    {{ form_row(form.status) }}
                                                </div>
                                                <div class="col-lg-6 col-12">
                                                    {{ form_row(form.images) }}
                                                </div>
                                            </div>

                                        </div>
                                        <div class="button mb-0">
                                            <button type="submit" class="btn">Add new</button>
                                        </div>
                                    </div>
                                </div>

                                {{ form_end(form) }}
                            </div>

                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>