<div class="category-sidebar">
    {{ form_start(form, {attr: {'class': 'filter js-filter-form'}}) }}

        <div class="single-widget search">
            <h3>Rechercher & Filtrer</h3>
            {{ form_row(form.q, {attr: {'class': 'form-style'}}) }}
        </div>

        <div class="single-widget">
            <h3>Filtrer</h3>


            <span class="mt-2 mb-2 h6">Status</span>
            <div class="select">
                {{ form_row(form.types)}}
            </div>

            <hr>

            <span class="mb-2">Catégories</span>
            {{ form_row(form.categories) }}

            <div class="button mt-4">
                <button class="btn">Rechercher</button>
            </div>

        </div>

    {{ form_end(form) }}
</div>