<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="twitter:card" content="summary">
        <meta name="twitter:site" content="@">
        <meta name="twitter:creator" content="@">
        <meta name="twitter:title" content="Home 03">
        <meta name="twitter:description" content="Real Estate Html Template">
        <meta name="twitter:image" content="images/homeid-social-logo.png">

        <meta property="og:url" content="home-03.html">
        <meta property="og:title" content="Home 03">
        <meta property="og:description" content="Real Estate Html Template">
        <meta property="og:type" content="website">
        <meta property="og:image" content="images/homeid-social.png">
        <meta property="og:image:type" content="image/png">
        <meta property="og:image:width" content="1200">
        <meta property="og:image:height" content="630">
        <title>{% block title %} Welcome! {% endblock %}</title>

        <script src="../cdn-cgi/apps/head/2oc_RD5SS6wgN5SiQnSEnWVNHg8.js"></script><link href="https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&amp;family=Poppins:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&amp;display=swap" rel="stylesheet">

        <link rel="stylesheet" href="{{ asset('vendors/fontawesome-pro-5/css/all.css') }}">
        <link rel="stylesheet" href="{{ asset('vendors/bootstrap-select/css/bootstrap-select.min.css') }}">
        <link rel="stylesheet" href="{{ asset('vendors/slick/slick.min.css') }}">
        <link rel="stylesheet" href="{{ asset('vendors/magnific-popup/magnific-popup.min.css') }}">
        <link rel="stylesheet" href="{{ asset('vendors/jquery-ui/jquery-ui.min.css') }}">
        <link rel="stylesheet" href="{{ asset('vendors/chartjs/Chart.min.css') }}">
        <link rel="stylesheet" href="{{ asset('vendors/dropzone/css/dropzone.min.css') }}">
        <link rel="stylesheet" href="{{ asset('vendors/animate.css') }}">
        <link rel="stylesheet" href="{{ asset('vendors/timepicker/bootstrap-timepicker.min.css') }}">
        <link rel="stylesheet" href="{{ asset('vendors/mapbox-gl/mapbox-gl.min.css') }}">
        <link rel="stylesheet" href="{{ asset('vendors/dataTables/jquery.dataTables.min.css') }}">

        <link rel="stylesheet" href="{{ asset('css/themes.css') }}">

        <style>
            .slick-next:hover {
                background-color: #6969eb;
                color:  white;
            }

            .slick-prev:hover {
                background-color: #6969eb;
                color:  white;
            }

            .dropdown-item.active, .dropdown-item:active, .page-item.active .page-link{
                background-color: #6969eb;
            }

            .page-item.active .page-link{
                background-color: #6969eb;
            }

            .page-link:hover{
                background-color: #6969eb;
            }

        </style>
        
        {% block stylesheets %}
            {# {{ encore_entry_link_tags('app') }} #}
        {% endblock %}

        {% block javascripts %}


        {% endblock %}
    </head>
    <body>
    
        {% include 'frontend/layouts/navbar.html.twig' %}

        {% block body %}

        {% endblock %}

        {% include 'frontend/layouts/svg.html.twig' %}

        {% include 'frontend/layouts/footer.html.twig' %}
        

        <script src="{{ asset('vendors/jquery.min.js') }}"></script>
        <script src="{{ asset('vendors/jquery-ui/jquery-ui.min.js') }}"></script>
        <script src="{{ asset('vendors/bootstrap/bootstrap.bundle.js') }}"></script>
        <script src="{{ asset('vendors/bootstrap-select/js/bootstrap-select.min.js') }}"></script>
        <script src="{{ asset('vendors/slick/slick.min.js') }}"></script>
        <script src="{{ asset('vendors/waypoints/jquery.waypoints.min.js') }}"></script>
        <script src="{{ asset('vendors/counter/countUp.js') }}"></script>
        <script src="{{ asset('vendors/magnific-popup/jquery.magnific-popup.min.js') }}"></script>
        <script src="{{ asset('vendors/chartjs/Chart.min.js') }}"></script>
        <script src="{{ asset('vendors/dropzone/js/dropzone.min.js') }}"></script>
        <script src="{{ asset('vendors/timepicker/bootstrap-timepicker.min.js') }}"></script>
        <script src="{{ asset('vendors/hc-sticky/hc-sticky.min.js') }}"></script>
        <script src="{{ asset('vendors/jparallax/TweenMax.min.js') }}"></script>
        <script src="{{ asset('vendors/mapbox-gl/mapbox-gl.js') }}"></script>
        <script src="{{ asset('vendors/dataTables/jquery.dataTables.min.js') }}"></script>

        <script src="{{ asset('js/theme.js') }}"></script>

        <script>
            var item = document.querySelector('.pagination');
            item.classList.add("rounded-active", "justify-content-center", "mb-0");

            item.parentNode.classList.add("pt-4");
        </script>

    </body>
</html>

