<div class="categories style2 pb-0">
    <div class="row">
        <div class="col-lg-8 offset-lg-2 col-md-12 col-12">
            <div class="row">
                
                <div class="col-lg-3 col-md-3  col-12">

                    <a href="category.html" class="single-cat wow fadeInUp" data-wow-delay=".6s">
                        <div class="icon">
                            <img src="{{ asset('build/images/categories/real-estate.svg') }}" alt="#">
                        </div>
                        <h3>Maisons</h3>
                        {# <h5 class="total">65</h5> #}
                    </a>

                </div>

                <div class="col-lg-3 col-md-3  col-12">

                    <a href="category.html" class="single-cat wow fadeInUp" data-wow-delay=".4s">
                        <div class="icon">
                            <img src="{{ asset('build/images/categories/car.svg') }}" alt="#">
                        </div>
                        <h3>Bureaux</h3>
                        {# <h5 class="total">35</h5> #}
                    </a>

                </div>

                <div class="col-lg-3 col-md-3  col-12">

                    <a href="category.html" class="single-cat wow fadeInUp" data-wow-delay=".8s">
                        <div class="icon">
                            <img src="{{ asset('build/images/categories/restaurant.svg') }}" alt="#">
                        </div>
                        <h3>Commerce</h3>
                        {# <h5 class="total">22</h5> #}
                    </a>

                </div>
                <div class="col-lg-3 col-md-3  col-12">

                    <a href="category.html" class="single-cat wow fadeInUp" data-wow-delay="1s">
                        <div class="icon">
                            <img src="{{ asset('build/images/categories/matrimony.svg') }}" alt="#">
                        </div>
                        <h3>Hotel</h3>
                        {# <h5 class="total">55</h5> #}
                    </a>

                </div>
            </div>

{#            <div class="row">#}
{#                <div class="col-lg-3 col-md-3  col-12">#}

{#                    <a href="category.html" class="single-cat wow fadeInUp" data-wow-delay=".4s">#}
{#                        <div class="icon">#}
{#                            <img src="{{ asset('build/images/categories/car.svg') }}" alt="#">#}
{#                        </div>#}
{#                        <h3>Vehicle</h3>#}
{#                        <h5 class="total">35</h5>#}
{#                    </a>#}

{#                </div>#}
{#                <div class="col-lg-3 col-md-3  col-12">#}

{#                    <a href="category.html" class="single-cat wow fadeInUp" data-wow-delay=".6s">#}
{#                        <div class="icon">#}
{#                            <img src="{{ asset('build/images/categories/real-estate.svg') }}" alt="#">#}
{#                        </div>#}
{#                        <h3>Real Estate</h3>#}
{#                        <h5 class="total">65</h5>#}
{#                    </a>#}

{#                </div>#}
{#                <div class="col-lg-3 col-md-3  col-12">#}

{#                    <a href="category.html" class="single-cat wow fadeInUp" data-wow-delay=".8s">#}
{#                        <div class="icon">#}
{#                            <img src="{{ asset('build/images/categories/laptop.svg') }}" alt="#">#}
{#                        </div>#}
{#                        <h3>Electronics</h3>#}
{#                        <h5 class="total">22</h5>#}
{#                    </a>#}

{#                </div>#}
{#                <div class="col-lg-3 col-md-3  col-12">#}

{#                    <a href="category.html" class="single-cat wow fadeInUp" data-wow-delay="1s">#}
{#                        <div class="icon">#}
{#                            <img src="{{ asset('build/images/categories/matrimony.svg') }}" alt="#">#}
{#                        </div>#}
{#                        <h3>Matrimony</h3>#}
{#                        <h5 class="total">55</h5>#}
{#                    </a>#}

{#                </div>#}
{#            </div>#}
        </div>
    </div>
</div>