<section class="items-grid section">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section-title">
                    <h2 class="wow fadeInUp" data-wow-delay=".4s">Annonces Immobilières VIP</h2>
                </div>
            </div>
        </div>
        <div class="single-head">
            <div class="row">
                {% for property in featured %}

                {# {% if property.featured %} #}
                
                    
                <div class="col-lg-4 col-md-6 col-12">

                    <div class="single-grid wow fadeInUp" data-wow-delay=".2s">
                        <div class="image">
                            <a href="{{ path('app_annonce_detail', {slug: property.slug}) }}" class="thumbnail">
                                <img src="{{ vich_uploader_asset(property) | imagine_filter('home_feature') }}" alt="#">
                            </a>
                            <div class="author">
                                <div class="author-image">
                                    <img src="{{ vich_uploader_asset(property.user) }}" alt="#">
                                    <span style="color: white";>{{ property.user.name | capitalize }}</span>
                                </div>
                                {% for type in property.types %}
                                    <p class="sale">{{ type.name }}</p>         
                                {% endfor %}
                            </div>
                            <p class="item-position"><i class="lni lni-bolt"></i> Mis en avant</p>
                        </div>
                        <div class="content">
                            <div class="top-content">
                                {% for category in property.categories %}
                                    <a href="#" class="tag">{{ category.name }}</a>
                                {% endfor %}
                                <h3 class="title">
                                    <a href="{{ path('app_annonce_detail', {slug: property.slug}) }}">{{ property.title }}</a>
                                </h3>

                                <ul class="info-list">
                                    <li><a href="#"><i class="lni lni-map-marker"></i> {{ property.quarter }}</a></li>
                                    <li><a href="#"><i class="lni lni-world"></i> {{ property.state }}</a></li>
                                </ul>
                            </div>
                            <div class="bottom-content">
                                <p class="price pb-4">Prix : <span>{{ property.price | number_format(0, ',', '.') }} Fcfa</span></p>
                            </div>
                        </div>
                    </div>
                </div>

                {# {% endif %} #}

                {% endfor %}
            </div>
        </div>
    </div>
</section>