{% extends 'backend/admin/base.html.twig' %}

{% block title 'La liste des proprietaires' %}


{% block body %}

    <div class="wrapper dashboard-wrapper">
        <div class="d-flex flex-wrap flex-xl-nowrap">
            {# Sidebar #}
                {% include 'backend/admin/sidebar.html.twig' %}
            {# EndSidebar #}

            <div class="page-content">
                    
                {# Header #}
                    {% include 'backend/admin/layouts/header.html.twig' %}
                {# EndHeader #}

                <main id="content" class="bg-gray-01">
                    <div class="px-3 px-lg-6 px-xxl-13 py-5 py-lg-10">
                        <div class="tab-content shadow-none p-0">
                            <div class="card-body py-4 py-md-0 px-0">
                                <div class="card mb-6">
                                    <div class="card-body p-6">
                                        <h3 class="card-title mb-0 text-heading fs-22 lh-15">
                                            Tous les types
                                        </h3>
                                        
                                        <table class="table">
                                            <thead>
                                                <tr>
                                                    <th>Id</th>
                                                    <th>Avatar</th>
                                                    <th>Firstname</th>
                                                    <th>Lastname</th>
                                                    <th>Email</th>
                                                    <th>Roles</th>
                                                    <th>actions</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                            {% for user in users %}
                                                <tr>
                                                    <td>{{ user.id }}</td>
                                                    <td>{{ user.avatar }}</td>
                                                    <td>{{ user.firstname }}</td>
                                                    <td>{{ user.lastname }}</td>
                                                    <td>{{ user.email }}</td>
                                                    <td>{{ user.roles ? user.roles|json_encode : '' }}</td>
                                                    <td>
                                                        <a href="{{ path('user_edit', {'id': user.id}) }}">edit</a> | 
                                                        <a href="{{ path('user_delete', {'id': user.id}) }}">delete</a>
                                                    </td>
                                                </tr>
                                            {% else %}
                                                <tr>
                                                    <td colspan="8">no records found</td>
                                                </tr>
                                            {% endfor %}
                                            
                                            </tbody>
                                        </table>

                                    </div>
                                </div>                                     
                            </div>
                        </div>
                    </div>
                </main>
            </div>
        </div>
    </div>

{% endblock %}

    
