{% extends 'frontend/base.html.twig' %}

{% block title 'Update user informations' %}

{% block body %}
    <h1>Edit User Informations</h1>

    {{ form_start(form) }}
    {{ form_row(form.firstname) }}
    {{ form_row(form.lastname) }}
    {{ form_row(form.avatar) }}
    {{ form_row(form.email) }}
    <button class="btn">Update</button>
	{{ form_end(form) }}

    <a href="{{ path('user_index') }}">back to list</a>

{% endblock %}
